@media only screen and (max-width:1600px) { 
	
}

@media only screen and (max-width:1366px) { 
	 
}

@media only screen and (max-width:1200px) { 
 
	.bodybg{ top: -30px;}
	ul.psc li{ font-size: 20px;}
	ul.creatvie li{ font-size: 20px;}
	.extr_width{ width: 350px;}
	.clintwidth{ width: 13.2%;}
}

@media only screen and (max-width: 992px) {
	.vbsimg{ position:absolute; bottom: 0px; top: 100px;}
	.bnrtxt{ position:absolute; bottom: 0px; top: 100px;}
	.bodybg{ top: -15px;}
	.bodycont h1{ font-size: 30px;}
	
	.desig_arrow li{ font-size: 13px;}
	.extr_width{ width: 280px;}
	.desig_arrow_rght li{ font-size: 13px;}
	ul.creatvie li{padding-left: 40px; background-size: auto 24px; font-size: 16px; margin-bottom: 15px; min-height: 25px;}
	.growbsns{width: 100%; height: 450px; }
	.growbsns h2{ font-size: 60px; margin-top: 50px;}
	.growbsns h1{ font-size: 60px;}
	.growbsns h3{font-size: 30px; padding-left: 10px; font-weight: bold;}
	ul.psc li{ font-size: 16px; padding-left: 45px; background-size: auto 30px; min-height: 30px;}
	.clintwidth{ width: 12.9%;}
	.stre_m ul li{font-size: 24px;  margin: 15px 0; height: 75px; padding: 14px 15px 10px 15px; line-height: 26px;}
	.stre_m ul li.double{font-size: 24px;  margin: 15px 0; height: 75px; padding: 7px 15px 10px 15px; line-height: 26px;}
	.bodycont h1 span{ font-size: 30px;}
	.bodycont p{ font-size: 13px; font-weight: 500;}	
	.side_reg {  top: 270px; }
}

@media only screen and (max-width: 767px) {
	.bg_banner{ width: 100%; height: 900px; background: url(../images/banner_bg_mob.jpg) center center no-repeat;  background-size:100% 100%; overflow: hidden; position: relative;}
	.vbsimg{ top: 40px;}
	.vbsimg img{ max-width: 65%;  }
	.bnrtxt{ top: 367px;}
	.bnrtxt img{ max-width: 80%; display: block; margin: 0 auto;}
	.vbsimg{ margin: 0 auto; text-align: center;}
	.logo img{ max-width: 150px;}
	.maincol{ max-width: 100% !important; flex: 0 0 100% !important;}
	.design-arrow{ display: none;}
	.extr_width{ width: auto;}
	.desig_arrow{ width: 100%;}
	.desig_arrow li{ font-size: 14px; display: block ; width: 100%;}
	.desig_arrow_rght{ width: 100%; } 
	.desig_arrow_rght li{ float: left; text-align: left;font-size: 14px; display: block ; width: 100%;}
	.design-arrow-mob{ display: block; margin: 0 auto;}
	ul.creatvie li{padding-left: 30px; background-size: auto 20px; font-size: 14px; margin-bottom: 5px; min-height: 20px;}
	.bodycont h1{ font-size: 24px; line-height: 32px;}
	.bodycont p{ font-size: 20px; }
	.whitelblehead h1{font-size: 24px;}
	.whitelblehead h3{font-size: 16px;}
	.client_desk{ display: none !important;}
	#clients{ display: block;}
	ul.psc li{ margin-bottom: 10px; padding-left: 35px; font-size: 14px; background-size: auto 24px;}
	.billioner_speak h1{ font-size: 24px;} 
	.card_p p{  font-size: 12px;}
	.card_p span{  font-size: 12px; }
	.recbg{ display: none;}
	.recbg-mob{ display: block;}
	.bodycont p{ font-size: 14px;}

	
}
 
@media only screen and (max-width: 576px) {
	.callsales a{ font-size: 11px;}
	.callsales img{ max-width: 13px;}
	.desig_arrow li br{ display: none;}
	.desig_arrow_rght li br{ display: none;}
	.creative_mob{ max-width: 200px !important;}
	ul.psc li{ width: 100%;}
	.clients_log h1{ font-size: 20px;}
	.bg_banner{  height: 850px;}
	#clients{ width: 95%;}
	.growbsns{height: 300px;}
	.growbsns h2{ font-size: 30px;margin-top: 10px;}
	.growbsns h1{ font-size: 30px; }
	.growbsns h3{ font-size: 16px; padding: 10px; }
	ul.creatvie li{ font-size: 16px;}
	.foot{ margin-bottom: 10px; text-align: center;}
	.foot p br{ display: none;}
	.vbsimg img{ max-width: 50%;}
	.stre_m ul li{font-size: 16px;  margin: 5px 0; height: 55px; padding: 13px 15px 10px 15px; line-height: 18px;}
	.stre_m ul li.double{font-size: 16px;  margin: 5px 0; height: 55px; padding: 5px 15px 10px 15px; line-height: 18px;}
	.bodycont p{ font-size: 20px;}
	.dontp h3{ font-size: 20px; padding: 5px 10px;}
	.dontp h2{ font-size: 28px;}
	.bodycont p{ font-size: 16px;}
}

@media only screen and (max-width: 480px) {

	.bg_banner{ height: 720px;}
	.bnrtxt{ top: 300px;}
	.stre_m ul li{font-size: 14px;  margin: 5px 0; height: 55px; padding: 13px 15px 10px 15px; line-height: 18px;}
	.stre_m ul li.double{font-size: 14px;  margin: 5px 0; height: 55px; padding: 5px 15px 10px 15px; line-height: 18px;}
 }


@media only screen and (max-width: 400px) { 
	.callsales a{ font-size: 11px;}
	.callsales img{ max-width: 16px;}
	.bg_banner{ height: 700px;}
	.bnrtxt{ top: 260px;}
	footer p { display: block; font-size: 12px;}
	footer a{ font-size: 12px;}
	footer{ margin-bottom: 40px; height: 90px;}
	 
}