@media only screen and (max-width:1600px) { 
	
}

@media only screen and (max-width:1366px) { 
	 
}

@media only screen and (max-width:1200px) { 
 
	.bodybg{ top: -30px;}
	ul.psc li{ font-size: 20px;}
	ul.creatvie li{ font-size: 20px;}
	.extr_width{ width: 350px;}
	.clintwidth{ width: 13.2%;}
	.learn h3{ font-size: 26px; padding: 7px 20px;}
	.learn .center_div{ height: 65px;}
	.clintwidth{ width:18.9%;}
}

@media only screen and (max-width: 992px) {
	.vbsimg{ position:absolute; bottom: 0px; top: 100px;}
	.bnrtxt{ position:absolute; bottom: 0px; top: 100px;}
	.bodybg{ top: -15px;}
	.bodycont h1{ font-size: 30px;}
	.bodycont p{ font-size: 16px;}
	.desig_arrow li{ font-size: 13px;}
	.extr_width{ width: 280px;}
	.desig_arrow_rght li{ font-size: 13px;}
	ul.creatvie li{padding-left: 40px; background-size: auto 24px; font-size: 16px; margin-bottom: 15px; min-height: 25px;}
	.growbsns{width: 100%; height: 380px; }
	.growbsns h2{ font-size: 40px; margin-top: 50px;}
	.growbsns h1{ font-size: 40px;}
	.growbsns h3{font-size: 24px; padding-left: 10px; font-weight: bold; padding: 10px;}
	ul.psc li{ font-size: 16px; padding-left: 45px; background-size: auto 30px; min-height: 30px;}
	.clintwidth{ width: 18.5%;}
	.vbsimg{ top: 40px;}
	.bnrtxt{ top: 140px;}
	.bodycont h1{ font-size: 28px; line-height: 30px;}
	.subpoint li{ font-size: 15px;}
	.txtdes p{font-size: 16px;}
	.txtdes p b{font-size: 16px;}
	.learn h3{font-size: 18px;}
	.learn .center_div{ height: 45px;}
	.whitelblehead h1{ font-size: 36px;}
	
	

}

@media only screen and (max-width: 767px) {
	.bg_banner{ width: 100%; height: 850px; background: url(../images/banner_bg_mob.jpg) center center no-repeat;  background-size:100% 100%; overflow: hidden; position: relative;}
	.vbsimg{ top: 40px;}
	.vbsimg img{ max-width: 65%;  }
	.bnrtxt{ top: 435px;}
	.bnrtxt img{ max-width: 80%; display: block; margin: 0 auto;}
	.vbsimg{ margin: 0 auto; text-align: center;}
	.logo img{ max-width: 150px;}
	.maincol{ max-width: 100% !important; flex: 0 0 100% !important;}
	.design-arrow{ display: none;}
	.extr_width{ width: auto;}
	.desig_arrow{ width: 100%;}
	.desig_arrow li{ font-size: 14px; display: block ; width: 100%;}
	.desig_arrow_rght{ width: 100%; } 
	.desig_arrow_rght li{ float: left; text-align: left;font-size: 14px; display: block ; width: 100%;}
	.design-arrow-mob{ display: block; margin: 0 auto;}
	ul.creatvie li{padding-left: 30px; background-size: auto 20px; font-size: 16px; margin-bottom: 5px; min-height: 20px;}
	.bodycont h1{ font-size: 24px; line-height: 32px;}
	.clients_log h1{ font-size: 24px; padding: 5px 15px;}
	.bodycont p{ font-size: 20px; }
	.whitelblehead h1{font-size: 24px;}
	.whitelblehead h3{font-size: 16px;}
	.client_desk{ display: none !important;}
	#clients{display: block;}
	#clients .slick-prev { color:#000; left: -15px; }
	#clients .slick-next { color:#000;  right: -15px;} 
	#clients img{ max-width: 130px !important; margin-left: 20px;}

	
	ul.psc li{ margin-bottom: 10px; padding-left: 35px; font-size: 14px; background-size: auto 24px;}
	.billioner_speak h1{ font-size: 24px;} 
	.card_p p{  font-size: 12px;}
	.card_p span{  font-size: 12px; }
	.recbg{ display: none;}
	.recbg-mob{ display: block;}
	.bodycont h2{ font-size: 33px; line-height: 37px;}
	.subpoint li{ font-size: 18px;}
	.learn h3{ font-size: 14px; padding: 5px 10px;}
	
}
 
@media only screen and (max-width: 576px) {
	.callsales a{ font-size: 12px;}
	.callsales img{ max-width: 16px;}
	.desig_arrow li br{ display: none;}
	.desig_arrow_rght li br{ display: none;}
	.creative_mob{ max-width: 300px !important;}
	ul.psc li{ width: 100%;}
	.vbsimg{ top: 0px;}
	
	.bnrtxt{ top: 400px;}
	.growbsns{height: 300px;}
	.bg_banner{ height: 800px;}
	.growbsns h2{ font-size: 30px;margin-top: 10px;}
	.growbsns h1{ font-size: 30px; }
	.growbsns h3{ font-size: 16px; padding: 10px; }

}

@media only screen and (max-width: 480px) {
	.callsales img{ max-width: 11px;}
	.bnrtxt{ top: 330px;}
	.bg_banner{ height: 750px;}
	.badgetop{ top: -30px;}
	.learn h3{ font-weight: bold; padding: 5px; font-size: 11px;}
	.learn .center_div{ height: 35px;}
	footer a { font-size: 12px;}
	footer p { font-size: 12px;}

}

@media only screen and (max-width: 400px) { 
	.callsales a{ font-size: 11px;}
	.callsales img{ max-width: 16px;}
	.growbsns h2{ font-size: 26px;}
	.growbsns h1{ font-size: 26px;}
	.learn h3{ font-size: 10px;}
	.learn .center_div{ height: 35px;}
	.subpoint li{font-size: 14px;}
	 
}