@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&amp;display=swap');

body{ font-family: 'Poppins', sans-serif !important;}
.nogutter{margin: 0px !important; padding: 0px !important;}
.bg_banner{ width: 100%; max-height: 695px; min-height: 500px; background: url(../images/banner.png) center top no-repeat; margin-bottom: 50px; background-size: 100% auto;}

.form_cont {background-color: #2a1908; z-index: 9;}
.call{width: auto; float: left; margin-right: 2%;}
.call a{ color: #fff; font-size: 14px; font-weight: 500; display: block; width: 100%; margin: 0; padding: 0;}
.call a:hover{color: #fff; text-decoration: none;}
.right-icon { width: 50%; float: right;}
.right-icon .soc_media {float: right;  width: auto;}
.right-icon .soc_media a img{float: left;  max-width: 36px; margin-left: 5px;}
.main_web{ max-width: 1200px; margin: 0 auto;}
.form_hindi{ font-size: 40px; float: right; text-align: left; position: relative; top: 75px; }
.form_hindi img{ max-width: 300px;}
.form_hindi p{ font-size: 40px; color: #fff; display: block; font-weight: 900;}
.form_hindi span{ font-size: 40px; color: #fff; display: block; font-weight: 900; margin-left: 100px;}
.form_hindi div{ font-size: 40px; color: #fff; display: block; font-weight: 900; margin-left: 200px;}
.form_hindi div img{ max-width: 50px; } 
.ind_cha { width: 100%; display: block; position: relative;  } 
.ind_cha h1{ font-weight: 700; font-size: 48px; text-align: center; padding: 20px 0; }
.ind_cha p{ font-weight: 700; font-size: 20px; color: #fcbc44; background-color: black; text-align: center; padding: 10px 0; }
.formmain{  width: 380px; height: auto; position: relative; z-index: 99; border-radius: 20px; border: 1px #5d5845 solid; display: inline-table; padding:20px 30px; background-color: #fff; margin-top: 30px; 
    -webkit-box-shadow: 0px 24px 44px 0px rgba(190,114,99,0.37);
    -moz-box-shadow: 0px 24px 44px 0px rgba(190,114,99,0.37);
    box-shadow: 0px 24px 44px 0px rgba(190,114,99,0.37);
}  
.formmain h1{color: #5d5845; font-weight: 700; margin-bottom: 40px;}
.formmain h1::after{ content: ''; background-color: #5d5845; width: 60px; height: 5px; display: block; position: relative; top: 10px; left: 150px;}
.formmain input, select{border:1px #fcbc44 solid !important; }
.formmain .boder_lft{ border-left:0px !important; border-top-right-radius: 2rem !important; border-bottom-right-radius: 2rem !important;}
.formmain .boder_lftradius{ width:120px; border-bottom-left-radius: 2rem !important; border-top-left-radius: 2rem !important; border:1px #fcbc44 solid !important;}
.curve_corner{border-radius: 2rem !important;}
.formmain button{ width: 200px; position: relative; top: 15px; font-size: 20px; height: 50px; background-color:#fcbc44 !important; border-radius: 2rem !important; color: #fff; text-transform: uppercase; border:none; font-weight: 700;}
.formmain .input-group { margin-bottom: 1rem;} 
.offer_bnr { width: 100%; display: block;  height: auto; z-index: 9; margin: 20px 0;}
.offer_bnr img{ max-width: 100%; }
.offer_bnr h1{ font-size: 34px; color: #5d5845; font-weight: 900; margin: 30px 0; text-align: center;}
.form_index{position: relative; top: 0px; z-index: 99;}
.bg_bolly { width: 100%; height: 100vh; background: url(../images/web_bnr.jpg) bottom center no-repeat;  background-size: 100% 100%;}
.shine.large {width: 50px; height: 50px;}
.mobview { display: none !important;}
.desk_img{ max-width: 70% !important; overflow: hidden;}
.foot_view{ font-weight: 700; font-size: 20px; color: #fcbc44; background-color: black; text-align: center; padding: 10px 0; }
#click_arrow{ position: absolute; bottom: 100px; left: 50%; right: 50%; z-index: 999;}
.sticky_bottom{ position: fixed; color: #fff; bottom: 0; z-index: 999; background: #fbbd43; padding: 15px 0; width: 100%; text-align: center;}
.sticky_bottom span{  margin-right: 10px; color: #fff; font-size: 20px;}
.sticky_bottom a{  margin-right: 10px; color: #fff; font-size: 20px;}
.sticky_bottom a:hover{  margin-right: 10px; color: #fff; font-size: 20px;} 
#clockdiv{color: #fff; display: inline-block; text-align: center; font-size: 30px; width: 100%; margin-top: 30px;}
#clockdiv h1{color: #5d5845; display: inline-block; font-weight: 900; text-align: center; font-size: 30px; width: 100%;} 
#clockdiv > div{ padding: 10px; border-radius: 3px; background: #388fbc;  display: inline-block; }
#clockdiv div > span{ padding: 0px 15px; border-radius: 3px; background: #205387; display: inline-block; font-size: 30px; font-weight: 700;} 
.smalltext{ padding-top: 5px; font-size: 16px;} 
.topic_cvrd{ padding: 75px; border-radius: 50px;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.31); -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.31);box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.31);
    background: rgba(55,144,186,1);
    background: -moz-linear-gradient(top, rgba(55,144,186,1) 0%, rgba(118,199,243,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(55,144,186,1)), color-stop(100%, rgba(118,199,243,1)));
    background: -webkit-linear-gradient(top, rgba(55,144,186,1) 0%, rgba(118,199,243,1) 100%);
    background: -o-linear-gradient(top, rgba(55,144,186,1) 0%, rgba(118,199,243,1) 100%);
    background: -ms-linear-gradient(top, rgba(55,144,186,1) 0%, rgba(118,199,243,1) 100%);
    background: linear-gradient(to bottom, rgba(55,144,186,1) 0%, rgba(118,199,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3790ba', endColorstr='#76c7f3', GradientType=0 ); }

.topic_cvrd h1 { font-weight: 900; font-size: 40px; color: #fff; text-align: center; margin-bottom: 10px;}  
.topic_cvrd .right { float: left; width: 75%; display: table-cell; color: #fff; font-weight: 500;}     
.topic_cvrd .left { float: left; width: 20%; margin-right: 5%;}
.topic_cvrd .left img { max-width: 100%;}     
.topic_cvrd .grid_g{ margin: 20px 0;}

.getfromcourse h1 {font-weight: 900; font-size: 36px; text-transform: uppercase; color: #0a1d27; text-align: center; margin: 40px 0 20px;}
.getfromcourse .img { text-align: center; margin: 0 auto; width: 100%;}
.getfromcourse .img img { max-width: 100%;}
.getfromcourse .text { text-align: center; margin: 20px 0; font-size: 16px; font-weight: 700; color: #000; text-transform: uppercase;}

.takeaway h1 {font-weight: 900; font-size: 36px; text-transform: uppercase; color: #0a1d27; text-align: center; margin: 40px 0 20px;}
.takeaway .img { text-align: center; margin: 0 auto; width: 100%;}
.takeaway .img img { max-width: 100%; max-height: 200px;}
.takeaway .text { text-align: center; margin: 20px 0; font-size: 16px; font-weight: 700; color: #000; text-transform: uppercase;}


.whatyouget{ background-color: #faf7f2; padding: 20px 0;}
.whatyouget h1 {font-weight: 900; font-size: 36px; color: #0a1d27; text-align: center; margin: 40px 0 10px; display: block; }
.whatyouget span {font-weight: 900; font-size: 36px; color: #fbbd43; text-align: center; margin: 10px 0 20px; display: block;}
.whatyouget .img { text-align: center; margin: 0 auto; width: 100%;}
.whatyouget .img img { max-width: 100%; max-height: 200px;}
.whatyouget .text { text-align: center; margin: 20px 0; font-size: 16px; font-weight: 500; color: #372f1f; }
.whatyouget .speak_text { text-align: center; margin: 0 auto; width: 70%; font-size: 16px; font-weight: 500; color: #372f1f; }

.digtal_course { width: 100%; height: 220px; margin-bottom: 50px; padding: 40px 40px 70px; border:1px #faf1df solid; border-radius: 10px 50px 10px 50px;
	-webkit-box-shadow: 0px 6px 10px 4px rgba(240,223,206,0.8);
	-moz-box-shadow: 0px 6px 10px 4px rgba(240,223,206,0.8);
	box-shadow: 0px 6px 10px 4px rgba(240,223,206,0.8);
}
.digtal_course img{ max-width: 150px; float: left; margin-right: 5%; display: table-cell;}
.digtal_course p{ font-size: 16px; text-align: justify; display: table-cell;}

.digtal_course_main h1{ font-weight: 900; font-size: 36px; color: #010101; text-align: center; margin: 10px 0 20px; display: block;}
.digtal_course_main h1 span { font-weight: 900; font-size: 36px; color: #fbbd43; text-align: center; margin: 10px 0 20px; display: inline-block;}

.membership_d { padding: 40px 0;}
.membership_d .memb_get {font-weight: 500; font-size: 36px; color: #000; display: block; text-transform: uppercase;}
.membership_d .memb_m {font-weight: 900; font-size: 36px; color: #fbbd43; display: block; text-transform: uppercase; margin: -10px 0;}
.membership_d .memb_bda {font-weight: 300; font-size: 36px; color: #000; display: block;}
.membership_d .memb_det {font-weight: 500; font-size: 16px; color: #372f1f; display: block;}
.memb_bullet { margin: 20px 0; display: block; padding: 0;}
.memb_img{ margin-top: 100px;}
.memb_bullet li{ margin: 10px 0; display: flex; font-size: 16px; color: #372f1f; width: 100%;}
.memb_bullet li:before{ content: ''; width: 20px; height: 4px; border-radius: 50px; background-color: #fbbd43; margin: 10px 0; display: inline-block; vertical-align: top; margin-right: 20px; }

.chirag p {font-weight: 500; font-size: 16px; color: #372f1f; margin: 10px 0; display: block; }
.chirag h1{ font-weight: 900; font-size: 36px; color: #010101; margin: 10px 0; display: block;}
.chirag h1 span { font-weight: 900; font-size: 36px; color: #fbbd43; margin: 10px 0; display: inline-block;}

.attend_web{ margin: 25px 0; padding: 50px;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.31); -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.31);box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.31);
    background: rgba(55,144,186,1);
    background: -moz-linear-gradient(top, rgba(55,144,186,1) 0%, rgba(118,199,243,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(55,144,186,1)), color-stop(100%, rgba(118,199,243,1)));
    background: -webkit-linear-gradient(top, rgba(55,144,186,1) 0%, rgba(118,199,243,1) 100%);
    background: -o-linear-gradient(top, rgba(55,144,186,1) 0%, rgba(118,199,243,1) 100%);
    background: -ms-linear-gradient(top, rgba(55,144,186,1) 0%, rgba(118,199,243,1) 100%);
    background: linear-gradient(to bottom, rgba(55,144,186,1) 0%, rgba(118,199,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3790ba', endColorstr='#76c7f3', GradientType=0 ); }

.grid_web { margin: 0;}
.attend_web h1{font-weight: 900; font-size: 36px; text-transform: uppercase; color: #fff; text-align: center; margin: 20px 0; }
.attend_web .img { text-align: center; margin: 0 auto; width: 100%;}
.attend_web .img img { max-width: 100%; max-height: 200px;}
.attend_web .text { text-align: center; margin: 20px 0; font-size: 16px; font-weight: 700; color: #fff; text-transform: uppercase;}

/* .badaprof { padding: 20px 0;}
.badaprof_m{margin: 20px 0 0; border:1px #ffc600 solid; padding:10px 10px 0; height: 250px;}
.badaprof_m img{max-width: 100%;}
.badaprof_m h4 { font-size: 12px; height: 30px; margin-top: 5px; color: #2b2d42; text-align: center; font-weight: bold; text-transform: uppercase;}
.badaprof_m p { font-size: 12px; margin-top: 5px; color: #ff2328; text-align: center; font-weight: bold;}
.profess_mpad{ padding:0 10px 0 10px !important;}
.badaprof_m div {text-align: center;} */

.badaprof h1{ font-weight: 900; font-size: 36px; color: #010101; margin: 10px 0; display: block; text-align: center;}
.badaprof h1 span { font-weight: 900; font-size: 36px; color: #fbbd43; margin: 10px 0; display: inline-block; text-align: center;}

.vk_border{border: 1px #ffc600 solid;}
.vk_sec .sp-name  { font-size: 36px; font-weight: 700; color: #000;}
.vk_sec .dg-title{ font-size: 14px; font-weight: 500; margin-bottom: 20px; color: #372f1f;}
.vk_sec .dg-desc{ font-size: 16px; font-weight: 500; color: #000;}


.profess_m{margin: 20px 0 0; border:1px #ffc600 solid; padding:10px 10px 0; height: 250px;}
.profess_m img{max-width: 100%;}
.profess_m h4 { font-size: 12px; height: 30px; margin-top: 5px; color: #2b2d42; text-align: center; font-weight: bold; text-transform: uppercase;}
.profess_m p { font-size: 12px; margin-top: 5px; color: #ff2328; text-align: center; font-weight: bold;}
.profess_mpad{ padding:0 10px 0 10px !important;}
.profess_m div {text-align: center;}

.content { display: none; }
#loadMore { width: 200px; color: #000; font-weight: 700; text-transform: uppercase; display: block; text-align: center; margin: 20px auto; padding: 10px;
border-radius: 4px; border: 1px solid transparent; background-color:#ffc600; transition: .3s;}
#loadMore:hover {color: #000; background-color: #ffc600; border: 1px solid blue; text-decoration: none;}
.noContent {color: #000 !important; background-color: transparent !important;pointer-events: none;}
